.App {
    text-align: center;
    
  }
  
  input {
    margin: 10px;
    padding: 8px;
  }
  
  button {
    margin: 5px;
    padding: 8px;
  }
   
  .images {
    display:inline-flex;
    align-items: center;
    
  }